- news = [{"title": "Обязательства, которые берет на себя орган сертификации","excerpt": "Отрывок","link": "#","image": "./assets/img/news-demo1.jpg"},{"title": "Как заменить декларирование обязательной сертификацией","excerpt": "Отрывок","link": "#","image": "./assets/img/news-demo2.jpg"},{"title": "Условия сертификации продукции, выпускаемой в домашних условиях","excerpt": "Отрывок","link": "#","image": "./assets/img/news-demo3.jpg"},{"title": "Сертификация единичного изделия","excerpt": "Отрывок","link": "#","image": "./assets/img/news-demo4.jpg"}];
- articles = [{"title": "Обязательства, которые берет на себя орган сертификации","excerpt": "Отрывок","link": "#","image": "./assets/img/news-demo1.jpg"},{"title": "Как заменить декларирование обязательной сертификацией","excerpt": "Отрывок","link": "#","image": "./assets/img/news-demo2.jpg"},{"title": "Условия сертификации продукции, выпускаемой в домашних условиях","excerpt": "Отрывок","link": "#","image": "./assets/img/news-demo3.jpg"},{"title": "Сертификация единичного изделия","excerpt": "Отрывок","link": "#","image": "./assets/img/news-demo4.jpg"}];

section.screen__news
  .container
    .row
      h2.col-12.text-center Статьи и новости
    .row
      ul#myTab.nav.nav-tabs.tabs__news(role='tablist')
        li.nav-item.tabs__news-item
          a#news-tab.nav-link.tabs__news-link.active(data-toggle='tab', href='#news', role='tab', aria-controls='news', aria-selected='true') Новости
        li.nav-item.tabs__news-item
          a#articles-tab.nav-link.tabs__news-link(data-toggle='tab', href='#articles', role='tab', aria-controls='articles', aria-selected='false') Статьи
  #myTabContent.container.tab-content.tabs__news-content
    #news.row.tabs__news-tab.tab-pane.fade.show.active(role='tabpanel', aria-labelledby='news-tab')
      each item in news
        .tabs__news-card
          a.tabs__card-link(href=item.link)
            .tabs__news-card-img-wrapper
              img.tabs__news-card-img(src=item.image alt="")
              .hover-filter
            p.tabs__news-card-title #{item.title}
            p.tabs__news-card-excerpt #{item.excerpt}
    #articles.row.tabs__news-tab.tab-pane.fade(role='tabpanel', aria-labelledby='articles-tab')
      each item in articles
        .tabs__news-card
          a.tabs__card-link(href=item.link)
            .tabs__news-card-img-wrapper
              img.tabs__news-card-img(src=item.image alt="")
              .hover-filter
            p.tabs__news-card-title #{item.title}
            p.tabs__news-card-excerpt #{item.excerpt}
    .tabs__news-more
      a#news-tab.nav-link.tabs__news-link(href='#') Смотреть все новости
