- var registry = [{label: 'НОСТРОЙ',id: 'nostroi',name: 'registry',next: 'how-quick',},{label: 'НОПРИЗ',id: 'nopriz',name: 'registry',next: 'how-quick',},{label: 'НОСТРОЙ и НОПРИЗ',id: 'both',name: 'registry',next: 'how-quick',}];
- var time = [{label: '1-3 дня',id: 'quick-3',name: 'time',next: 'documents',}, {label: '4-7 дня',id: 'quick-7',name: 'quick',next: 'documents',},{label: '1-2 недели',id: 'quick-14',name: 'quick',next: 'documents',}];


form.form__steps-specialists.swiper-container(action="#")
  .form__steps-wrapper.swiper-wrapper

    fieldset.form__steps-step.swiper-slide
      h2.header__h2 Этап 1: Выберете необходимый реестр
      .form__steps-step__body
        each input in registry
          label.form__steps-label(for=input.id) #{input.label}
            input.form__steps-input-radio(id=input.id, name=input.name, data-target=input.next, type="radio", value=input.label, required)
            img.form__steps-check(src="assets/img/svg/form-check.svg", alt="")

    fieldset.form__steps-step.swiper-slide(id="how-quick")
      h2.header__h2 Этап 2: Как срочно необходимо внести специалистов?
      .form__steps-step__body
        each input in time
          label.form__steps-label(for=input.id) #{input.label}
            input.form__steps-input-radio(id=input.id, name="radio-jobs", data-target="form-confirm", type="radio", value=input.label, required)
            img.form__steps-check(src="assets/img/svg/form-check.svg", alt="")

    fieldset.form__steps-step.swiper-slide(id="docs")
      h2.header__h2 Этап 3: Загрузите копии документов на проверку
      .form__steps-step__body
        label.form__steps-label(for='diplom') Загрузить копию диплома о высшем образовании
          input.form__steps-input-file(id='diplom', name="diplom", type="file", required)
        label.form__steps-label(for='workbook') Загрузить копию трудовой книжки
          input.form__steps-input-file(id='workbook', name="workbook", type="file", required)
        p.form__steps-notify Загружая документы, вы даёте согласие на обработку персональных данных.


    fieldset.form__steps-step.swiper-slide(id="end")
      h2.header__h2 Этап 4: Оставьте номер, мы свяжемся с Вами и сообщим результат
      .form__steps-step__body
        p Наши специалисты изучат документы и рассчитают стоимость! Оставьте номер, мы свяжемся с Вами и сообщим результат
        input.form__steps-input-text(name="phone", type="text", placeholder="Номер телефона +7", required)
        button.btn.btn__form-steps
          | Рассчитать
          .btn__form-steps-arrow
            svg.btn__form-steps-svg(xmlns='http://www.w3.org/2000/svg' width='18' height='14' viewbox='0 0 18 14')
              g
                g
                  path(d='M11-.07l-1.5 1.5L14.07 6H0v2h14.07L9.5 12.57l1.5 1.5L18.07 7z')
        p.form__steps-notify Нажимая эту форму, вы даёте согласие на обработку персональных данных.

    fieldset.form__steps-step.swiper-slide(id="ty")
      h2.header__h2 Спасибо за заявку!

  .form__steps-nav
    button.form__steps-nav--prev
      | Назад
    button.form__steps-nav--next
      | Вперед
